/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/.vagrant/
/public/js/scripts.min.js
/public/css/styles.min.css
/storage/id_rsa
/log/
/storage/app/public
/public/js/fullcalendar.min.js
/public/css/fullcalendar.min.css
/public/css/blank.gif
/public/css/fancybox_overlay.png
/public/css/fancybox_loading.gif
/public/css/fancybox_sprite.png
/docker-compose.override.yml
