.form-control {
  color: #555;
}

.login-logo img {
  width: 200px;
}

.filter {
  width: 100%;
  float: left;
  padding: 5px;
}

.filter div {
  float: left;
  margin-right: 10px;
}

.filter ul li {
  float: left;
  list-style-type: none;
  margin-right: 10px;
}

.filter ul li a {
  text-decoration: none;
  border-bottom: 1px dashed #3c8dbc;
  margin: 5px 5px 0 5px;
}

.filter ul li a.active, .filter ul li a:hover {
  border: none;
  background-color: #3c8dbc;
  color: #FFFFFF;
  margin: 0;
  padding: 5px;
}

.login-page {
  background: #102544 !important;
}

.form-group label {
  clear: both;
  width: 100%;
}

#menu th.weight {
  width: 100px;
}
#menu th.weight_person {
  width: 100px;
}
#menu th.price {
  width: 150px;
}
#menu th.total {
  width: 150px;
}
#menu th.amount {
  width: 50px;
}
#menu th.action {
  width: 100px;
}
#menu td.amount input {
  width: 100%;
  text-align: center;
}
#menu tfoot td.amount {
  text-align: center;
}
#menu table {
  margin-top: 15px;
}
.section {
  margin-bottom: 30px;
}
#menu #tax_id {
  width: 250px;
}
#menu #fare {
  width: 250px;
}
#menu #discount {
  width: 250px;
}
#menu #product_view {
  width: 250px;
}
#menu #template {
  width: 250px;
}
#menu #service_absolution { width: 250px; }
#menu #service_percents { width: 250px; }
#menu #administration_absolution { width: 250px; }
#menu #administration_percents { width: 250px; }
#menu #fare_absolution { width: 250px; }
#menu #fare_percents { width: 250px; }
#menu #equipment_absolution { width: 250px; }
#menu #equipment_percents { width: 250px; }
#menu #mirror_collection_absolution { width: 250px; }
#menu #mirror_collection_percents { width: 250px; }
#menu #extras_absolution { width: 250px; }
#menu #extras_percents { width: 250px; }
#menu #language { width: 250px; }

.fc-day-grid-event .fc-content {
  white-space: normal!important;
}

.kitchen {
  display: none;
}